@{
    ViewData["Title"] = "Modifica Attività";
}
@using System.Collections.Generic;
@model List<AttivitaModel>;
<h1>@ViewData["Title"]</h1>
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome Attività</th>
                        <th>Descrizione Attività</th>
                        <th>Data Inizio</th>
                        <th>Data Fine</th>
                        <th>Numero Posti</th>
                        <th>Prezzo Attività</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td>@Model[i].NomeAttivita</td>
                            <td>@Model[i].DescrizioneAttivita</td>
                            <td>@Model[i].DataInizio</td>
                            <td>@Model[i].DataFine</td>
                            <td>@Model[i].NumeroPosti</td>
                            <td>@Model[i].PrezzoAttivita</td>
                            <td>
                                <button class="btn btn-sm btn-danger" onclick="updateAttById('@Model[i].IdAttivita')">Update</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*@{
        <table>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].NomeAttivita</td>
                    <td>@Model[i].DescrizioneAttivita</td>
                    <td>@Model[i].NomeAttivita</td>
                    <td>@Model[i].DescrizioneAttivita</td>
                    <td><button class="btn-sm btn-danger" onclick="updateAttById('@Model[i].IdAttivita')">Update</button></td>
                </tr>
            }
        </table>
    }*@
</div>
