@if (User.IsInRole("Admin"))
{
    ViewData["Title"] = "Prenotazioni degli utenti";
}
else
{
    ViewData["Title"] = "Le mie prenotazioni";
}
@using Microsoft.AspNetCore.Identity;
@using EsameFabio1.DB.Entities;
@inject UserManager<User> UserManager
@model List<PrenotazioneModel>


<div class="container">
    <div class="text-center">
        <h1 class="my-5">@ViewData["Title"]</h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                @*<th>Id Attivita</th>*@
                @if (User.IsInRole("Admin"))
                {
                    <th>Mail Utente</th>
                }
                <th>Nome Attivita</th>
                <th>Descrizione Attivita</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                @*<th>Numero Posti</th>*@
                @*<th>Prezzo Attivita</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var roba in Model)
            {
                <tr>
                    @*<td>@attivita.IdAttivita</td>*@
                    @if (User.IsInRole("Admin"))
                    {
                        <th>@roba.CrossUtente.Email</th>
                    }
                    <td>@roba.CrossAttivita.NomeAttivita</td>
                    <td>@roba.CrossAttivita.DescrizioneAttivita</td>
                    <td>@roba.CrossAttivita.DataInizio</td>
                    <td>@roba.CrossAttivita.DataFine</td>
                    <td>
                        <button class="btn btn-danger" onclick="deleteAttivita('@roba.IdPrenotazioneAttivita')">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>