@{
    ViewData["Title"] = "Attività";

}
@using Microsoft.AspNetCore.Identity;
@using EsameFabio1.DB.Entities;
@inject UserManager<User> UserManager


@model List<AttivitaModel>


<div class="text-center my-5">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="container">
    <div class="row">

        @foreach (AttivitaModel a in Model)
        {
            <div class="col-md-4">
                <div class="card border">
                    <img src="@(a.ImgAtt)" class="card-img-top" alt="@(a.DescrizioneAttivita)">
                    <div class="card-body">
                        <h5 class="card-title">@a.NomeAttivita</h5>
                        <button class="btn btn-primary" data-toggle="collapse" data-target="#collapse-@(a.IdAttivita)">Descrizione estesa</button>

                        <div id="collapse-@(a.IdAttivita)" class="collapse">
                        <p class="card-text">Descrizione: @a.DescrizioneAttivita</p>
                        </div>
                        <hr>
                        <p class="card-text"><strong>Data Inizio:</strong> @a.DataInizio</p>
                        <p class="card-text"><strong>Data Fine:</strong> @a.DataFine</p>
                        <p class="card-text"><strong>Numero Posti:</strong> @a.NumeroPosti</p>
                        <p class="card-text"><strong>Prezzo:</strong> @a.PrezzoAttivita</p>
                        @if (User.IsInRole("Admin"))
                        {
                        }
                        else
                        {
                            @if (a.NumeroPosti > 0)
                            {
                                if (@UserManager.GetUserId(User) != null){


                                    <button class="btn btn-success" onclick="prenotaAttivita('@UserManager.GetUserId(User)', '@a.IdAttivita')">Prenota</button>
                                }
                                else
                                {
                                    <h5>Utente non loggato! Effettua il login per prenotare</h5>
                                }
                            }
                            else
                            {
                                <h4>Sold out!</h4>
                            }
                        }

                    </div>
                    <br>
                </div>
            </div>
        }
    </div>
</div>